body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

  
}
.bg-image
{
    opacity: 0.5;
height: 100vh;
width: 100vw;
    overflow: hidden;
}

.bg-img-title { 
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container button,.btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a
{
    cursor: pointer;
}
.container button:hover,.btn:hover {
    background-color: #218838;
    color: white;
}
.error {
    color: red;
}
.g-recaptcha-container {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.g-recaptcha-container.hidden {
    opacity: 0;
}
.navbar {
    background-color: #28a745; /* Green color for the navbar */
}
.card-img-top {
    height: 400px;
     object-fit: cover; /* Ensures images cover the card without distortion */
    /* Adjust height as needed */
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.card {
    margin-bottom: 1rem;
}

